@keyframes entrada-video-bg {
    0% {
        filter: blur(0px) brightness(1);
    }

    100% {
        filter: blur(8px) brightness(.8);
    }
}

@keyframes subida {
    from {
        transform: translateY(60px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}