#logo {
    width: auto;
    height: auto;
    max-height: 100%;
    filter: saturate(0);
}

div#head-structure,
div#structure {
    min-height: 100dvh;
    background: var(--white);
}

div#head-structure {
    display: grid;
    grid-template-rows: 60% 40%;
}

#header {
    background: var(--red-2);
    height: 60dvh;
}

#header,
#nav {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header {
    padding: .5rem 2rem;
}

#nav {
    background: var(--black);
    color: var(--white);
}

#video-background-container {
    overflow-x: hidden;

    /* position: relative; */
}
