.grid {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100dvh;
}

#logo {
    width: auto;
    height: auto;
    max-height: 100%;
    filter: saturate(.2);
}

#head-structure,
#structure {
    min-height: 100dvh;
    background: var(--white);
}

#head-structure {
    display: grid;
    grid-template-rows: 60% 40%;
}

#header,
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header {
    background: var(--red-2);
    height: 60dvh;
}

#header {
    padding: .5rem 2rem;
}

#nav {
    padding: 0rem 3.5rem;
    background: linear-gradient(var(--red-2), var(--black));
    color: var(--white);
}

#footer {
    padding: 2rem;
}

#video-background-container {
    overflow-x: hidden;
    height: min-content;
    position: relative;
}

.content-page {
    display: grid;
    grid-template-columns: 65vw 1fr;
}

article {
    line-height: normal;
    font-weight: 350;
    font-size: 16px;
}

#ficha {
    margin-top: 10dvh;
    height: fit-content;
}