a {
    color: inherit;
    text-decoration: none;
}

.links-pages,
.links-pages::after,
.c-link,
.c-link::after {
    transition: all .15s;
}

.links-pages,
.c-link {
    position: relative;
    opacity: .8;
}

.links-pages:hover {
    opacity: 1;
    font-size: 110%;
}

.c-link:hover {
    opacity: 1;
}

.links-pages::after,
.c-link::after {
    content: "";
    background: var(--white);
    display: block;
    position: absolute;
    height: 1px;
    width: 0%;
    bottom: 1px;
    left: 50%;
}

.c-link::after {
    background: var(--black);
}

.links-pages:hover::after,
.c-link:hover::after {
    width: 100%;
    left: 0%;
}
