@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Lexend:wght@100..900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--red-2) var(--black);
}

body {
    margin: 0;
}

:root {
    /* COLOR */
    --yellow: #FFC529;
    --red-1: #FF4529;
    --red-2: #BE0500;
    --white: #F1F1F1;
    --black: #171717;

    font-family: Lexend;
    font-size: 14px;
    color: var(--black);
}

/* UTILITY CLASS */

.nordic-font {
    font-family: "Caesar Dressing";
}
