/* gradiente da parte de baixo do video */
#gradient-bott {
    background: linear-gradient(0deg, var(--black) 10%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

/* video de fundo */
.bg-video {
    width: calc(100% + 10px);
    max-height: min-content;
    overflow-x: hidden;
    filter: blur(8px) brightness(.8);
    align-self: center;
    transform: translateX(-8px);
    animation: entrada-video-bg 6s;
    z-index: 1;
}

#sobrep-video {
    z-index: 3;
    position: absolute;
    left: 10%;
    top: 5vh;
    animation: subida 1.5s var(--ease-in);
}

#sobrep-video #descricao {
    font-size: 1.25rem;
    line-height: 1.1em;
    max-width: 30%;
}

#infos,
#infos a {
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
    width: fit-content;
}

#infos a {
    gap: .25rem;
}

#ficha {
    margin-top: 10dvh;
    height: fit-content;
}

#ficha img {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
    width: 75%;
    border-radius: 6px;
    border: 3px solid var(--white);
    outline: 2px solid var(--black);
}

#ficha table {
    width: 100%;
    border-radius: 4px;
    background: hsl(from var(--white) h s 90);
}

td {
    padding: .25rem;
}
