/* GRADIENTE DO VIDEO */
#gradient-bott {
    background: linear-gradient(0deg, var(--black) 10%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

/* VIDEO DE FUNDO */
.bg-video {
    width: calc(100% + 10px);
    max-height: min-content;
    overflow-x: hidden;
    filter: blur(8px) brightness(.8);
    align-self: center;
    transform: translateX(-8px);
    animation: entrada-video-bg 6s;
    z-index: 1;
}

/* INFORMAÇÕES DA HOME */

#sobrep-video {
    z-index: 3;
    position: absolute;
    left: 10%;
    top: 5vh;
    animation: subida 1.5s var(--ease-in);
}

#sobrep-video #descricao {
    font-size: 1.25rem;
    line-height: 1.1em;
    max-width: 30%;
}

#infos,
#infos a {
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
    width: fit-content;
}

#infos a {
    gap: .25rem;
}

/* TABELA DE INFORMAÇÕES */

#ficha {
    margin-top: 10dvh;
    height: fit-content;
}

#ficha img {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
    width: 75%;
    border-radius: 6px;
    border: 3px solid var(--white);
    outline: 2px solid var(--black);
}

#ficha table {
    width: 100%;
    border-radius: 4px;
    background: hsl(from var(--white) h s 90);
}

td {
    padding: .25rem;
}

#footer > p {
    display: block;
    width: max-content;
    margin: auto;
    text-align: center;
}

/* FORMULARIO */

fieldset {
    border-radius: 12px;
    border: 2px solid var(--black);
    width: max-content;
}

legend {
    background-color: var(--white);
    padding: .1rem .5rem;
    border-radius: 12px;
    box-shadow: var(--black) -2px 2.1px;
}

input {
    font: inherit;
    margin-block: .25rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--black);
}

input[type="date"] {
    background: none;
    outline: none;
    border: none;
}

.formB {
    border: none;
    padding: .25rem .75rem;
    border-radius: 18px;
    border: 2px solid var(--black);
    color: var(--white);
    margin: .5rem;
    transition: all 125ms var(--ease-in-out);
}

.formB:hover {
    translate: -3px -3px;
    box-shadow: var(--black) 3px 3px 2px;
}

.formB:active {
    translate: 0px 0px;
    box-shadow: var(--black) 0 0;
    opacity: .9;
}

input[type="submit"] {
    background: green;
}

input[type="reset"] {
    background: red;
}
