#gradient-top {
    width: 100%;
    height: 3vh;
    z-index: 3;
    position: fixed;
    top: 0;
    background: linear-gradient(var(--black) 10%, rgba(0, 0, 0, 0) 100%);
}

#gradient-bott {
    background: linear-gradient(0deg, var(--black) 10%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.links-pages {
    color: inherit;
    text-decoration: none;
    position: relative;
    opacity: .8;

    transition: all .25s;
}

.links-pages:hover {
    opacity: 1;
}

.links-pages::after {
    content: "";
    background: var(--white);
    display: block;
    position: absolute;
    height: 1px;
    width: 0%;
    bottom: 1px;
    left: 50%;
    opacity: 0;

    transition: all .25s;
}

.links-pages:hover::after {
    width: 100%;
    left: 0%;
    opacity: 1;
}

.links-pages:visited {
    font-size: 1.2em;
    font-weight: 600;
}

.ext-links {

}

@keyframes entrada-video-bg {
    0% {
        filter: blur(0px) brightness(1);
    }

    100% {
        filter: blur(8px) brightness(.8);
    }
}

.bg-video {
    width: calc(100% + 10px);
    max-height: min-content;

    overflow-x: hidden;
    filter: blur(8px) brightness(1);
    align-self: center;

    transform: translateX(-8px);

    animation-name: entrada-video-bg;
    animation-duration: 6s;

    z-index: 1;
}

#sobrep-video {
    z-index: 2;
    pointer-events: none;

    position: absolute;
    top: 5vh;
    left: 10%;
}

#sobrep-video img {
    width: auto;
    height: auto;
    max-width: 17%;
}

#sobrep-video div {
    font-size: 1.5rem;
    line-height: 1em;
    color: var(--red-2);

    max-width: 30%;
}
