.nordic-font {
    font-family: "Caesar Dressing";
}

.dark-bg {
    background: var(--black);
}

.light-bg {
    background: var(--white);
}

.light-font {
    color: var(--white);
}

.dark-font {
    color: var(--black);
}

.red-bg {
    background: var(--red-2);
}

.fw-300 {
    font-weight: 300;
}

.txt-indent {
    text-indent: 1.5rem;
}

.p1rem {
    padding: 1rem;
}

.p2rem {
    padding: 2rem;
}