.nordic-font {
    font-family: "Caesar Dressing";
}

.dark-bg {
    background: var(--black);
}

.light-bg {
    background: var(--white);
}

.light-font {
    color: var(--white);
}

.dark-font {
    color: var(--black);
}

.red-font {
    color: var(--red-2);
}

.red-bg {
    background: var(--red-2);
}

.fw-300 {
    font-weight: 300;
}

.txt-indent {
    text-indent: 2rem;
}

.p1rem {
    padding: 1rem;
}

.p2rem {
    padding: 2rem;
}

.m2rem {
    margin: 2rem;
}

.m1rem {
    margin: 1rem;
}

.m05rem {
    margin: 0.5rem;
}

.blend-diff {
    mix-blend-mode: difference;
}

.article-p {
    padding: 3vh 4vw;
}

.txt-center {
    text-align: center;
}